# Created by .ignore support plugin (hsz.mobi)


# IntelliJ project files
*.iml
.idea/


# Misc
**/node_modules

# Transpiled files
**/src/**/*.js
**/src/**/*.js.map
**/lib/**/*.d.ts

# Test Coverage output files
.nyc_output
coverage
