# Created by .ignore support plugin (hsz.mobi)

# Created by .ignore support plugin (hsz.mobi)

# IntelliJ project files
*.iml
.idea/

# Misc
**/node_modules
**/package-lock.json
sample-project/secrets.json

# Transpiled files
**/lib
**/built
